﻿<div class="emailer" style="background: #f4f4f4;padding: 30px;box-sizing: border-box;">
    <div class="emailer-content" style="background: #FFF;max-width: 700px;min-width: 400px;margin: auto;box-shadow: 0px 5px 5px rgba(0,0,0,0.1);box-sizing: border-box;">
        <div class="emailer" style="background: #fff;padding: 0;box-sizing: border-box;">
            <div class="emailer-content" style="background: #FFF;max-width: 700px;margin: auto;box-shadow: 0px 5px 5px rgba(0,0,0,0.1);box-sizing: border-box;">
                <div class="emailer - header" style="background: #ab447a;padding: 20px;height:70px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="emailer-name" style=" padding: 0 20px; align-items: center; justify-content: center; color: #FFF;font-family: Arial, sans-serif;font-size: 25px;letter-spacing: 0.4px;">
                        <span style=" color: #ab447a;font-size: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>Localizer Notification
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <div class="emailer-body-message" style="font-family: Arial, sans-serif; text-align: left; box-sizing: border-box; font-size: 16px; margin-bottom: 20px; color: #4a4a4a;">
            <p> Hi {0},</p>
            <p>
                You are invited to use the localizer application.<br />
            </p>
            <p>
                Use the following <a href="{1}" target="_blank">Link</a> to generate a new password and verify your account.
            </p>
            <p>
                Team GrapeSEED<br />----------
            </p>
        </div>
    </div>
</div>
